.container1 {
  display: flex;
  justify-content: center; /* Aligns items horizontally */
  align-items: center; /* Aligns items vertically */
  margin-top: 3rem;
  color: black;
}

.grid-wrapper {
  display: grid;
  grid-template: 0px 1fr / 0.1fr 1fr;
  height: 100%;
  width: 80%
}

.grid-main {
  grid-area: main;
  padding: 25px;
  background-color:white;
  border-radius: 3%;
}

.grid-content {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-template-areas: "block-1 block-2" "block-1 block-4";
  height: 100%;
  grid-gap: 10px 10px;
}

.block:nth-child(1) {
  grid-area: block-1;
}
.block:nth-child(2) {
  grid-area: block-2;
}
.block:nth-child(3) {
  display: block-3; /* Not needed but included for completeness */
}
.block:nth-child(4) {
  display: none;
}
