<div class = "jumbotron d-flex align-items-center min-vh-100">
  <div class="container text-center">


    <div class="d-flex justify-content-center">
      <h1>mentors.io</h1>
    </div>

    <div class="d-flex justify-content-center">
      <h2> find a mentor, change your life </h2>
    </div>

    <div class="d-flex justify-content-center">
      <%= link_to mentors_path do %>
      <i class="fa-regular fa-handshake fa-7x"></i>
      <% end %>
    </div>

    <div class="d-flex justify-content-center">
      <%= link_to mentors_path do %>
      <div class="btn btn-flat" > Explore our experts </div>
      <% end %>
    </div>

  </div>
</div>
