<div class = "jumbotron d-flex align-items-center min-vh-100">
  <div class="container text-center">


    <div class="d-flex justify-content-center">
      <h1>mentors.io</h1>
    </div>

    <div class="d-flex justify-content-center">
      <h2> find a mentor, change your life </h2>
    </div>

    <div class="d-flex justify-content-center">
      <i class="fa-regular fa-handshake fa-7x"></i>
    </div>

    <div class="d-flex justify-content-center">
      <a class="btn btn-flat" href="#"> Explore our experts </a>
    </div>

  </div>
</div>
