<h1 class = "text-center">all mentors</h1>

  <% Mentor::SPECIALTIES.each do |specialty| %>
    <h3 class = "ps-2"> <%= specialty %> </h3>
    <ul class="mentors-list">
      <% @mentors.all.each do |mentor| %>
        <% if mentor.specialty == specialty %>
          <li>
            <div class="card-mentor">
              <%= cl_image_tag(mentor.photo.key) %>
              <div class="card-mentor-infos">
                <h2><%= mentor.user.name %></h2>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
