.booking-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  width: 80%;
  border-radius: 8px;
  justify-content: center;
  margin: 1rem auto;
  float: none;
}

.booking-card .booking-card-content {
  flex-grow: 1;
  padding: 0 24px;
}

.booking-card p {
  margin: 0;
  line-height: 1.4;
}

.booking-card small {
  color: #999999;
  font-weight: bold;
}

.booking-card .booking-card-actions {
  display: flex;
  transition: ease .3s;
}

.booking-card-actions i {
  color: #543AB7;
}

.booking-card .booking-card-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.booking-card .booking-card-actions a:hover {
  color: #555555;
}
